# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/

# IDE
.idea/
*.iml
.vscode/

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore

# macOS
.DS_Store
